@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&family=Roboto:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color:coral;
}
h1{
    font-family:'Poppins', sans-serif; ;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
}
h2{
    font-family:'Poppins', sans-serif; ;
    font-style: italic;
    font-weight: bold;
    font-size: 33px;
}
h1, h2{
    display: flex;
    justify-content: center;

}
button{
    width: 200px;
    height: 200px;
}

.container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    width: 1000px;
    margin: auto;
}
